/* input */
.input {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 8px;

  width: 360px;
  height: 40px;

  /* Background/primary */
  background: #ffffff;
  /* Border/default */
  border: 1px solid #e1e3e6;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  /* Body/S */
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
}
.input input {
  border: none;
}
.title {
  margin-bottom: 4px;
  /* lable + required */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 360px;
  height: 20px;

  /* Inside auto layout */
  font-family: 'Custom Font', sans-serif;
  font-size: 14px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.arrow {
  width: 20px;
  height: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.dropdown {
  display: flex;
  position: fixed;
  z-index: 10;
  padding: 8px;
  margin-top: 4px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ffffff;
  box-shadow: 0px 10px 22px -4px #1b1f231f;
}

.dropdown ul {
  width: 100%;
  list-style-type: none;
}
.dropdown li {
  padding: 12px;
}

.placeholder {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* Text/tertiary */
  color: #999fa6;
}

.input:hover {
  border-color: #ff5500;
}
