.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px 33px 24px 32px;
}
.cart {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.empty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  color: #999fa6;
  font-weight: 600;
  font-size: 32px;
}
.filler {
  display: flex;
  flex: 1;
}
.summary {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 24px;
  margin: 24px 33px 24px 32px;

  color: var(--text-primary);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 20px;
}
