.container {
  display: flex;
  flex-shrink: 0;
  position: fixed;
  flex-direction: column;
  background-color: #fff;
  margin: 0 0 0 32px;
  left: 0;
  top: 108px;
  bottom: 110px;
  border-radius: 8px;
  padding: 24px;
}
.container .title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
