.main {
  flex: 1;
  display: flex;
}

.columns {
  display: flex;
  width: 100%;
}
.movies {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  margin: 24px 23px 24px 23px;
}
.filler {
  width: 408px;
  flex-shrink: 0;
  margin: 24px 0 24px 32px;
  height: 100%;
}
