.main {
  flex: 1;
  display: flex;
  overflow: auto;
}

.columns {
  display: flex;
  width: 100%;
}
.reviews {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0 24px 24px;
}
