.header {
  display: flex;

  border-radius: 0px;
  padding: 24px 32px 24px 32px;
  color: #ffffff;
}

.container {
  height: 84px;
  background-color: #333333;
  display: flex;
  position: sticky;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.basket {
  margin-right: 32px;
}
