/* input */
.input {
  box-sizing: border-box;
  border: 1px solid var(--white);
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  width: 360px;
  height: 40px;

  /* Background/primary */
  background: #ffffff;
  /* Border/default */
  border: 1px solid #e1e3e6;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  /* Body/S */
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
}

.input:focus,
.input:focus-visible {
  border: 1px solid var(--orange);
  outline: none;
}

.title {
  margin-bottom: 4px;
  /* lable + required */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 360px;
  height: 20px;

  /* Inside auto layout */
  font-family: 'Custom Font', sans-serif;
  font-size: 14px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
